/.vscode
/19_feb.py
/adaptive_thresholding.py
/basic_operation.py
/bitwise_operators.py
/converting_bgr.py
/date_time.py
/detection.py
/gaussian curve.py
/image_blending.py
/image_contour.py
/img_gradient.py
/L_18.py
/mat_2.py
/mat_cv.py
/minor.py
/morphological_transformation.py
/motion_detection.py
/mouse_event.py
/opencv_video.py
/openingfile.py
/set_parameters.py
/tempCodeRunnerFile.py
/tempCodeRunnerFile.python
/thresholding.py
/trackbars.py
/vide1.mp4